<!DOCTYPE html>
    <html>
    <head>
        <title>Recent Analyses</title>
        <style>
            li {
                display: none;
            }
        </style>
    </head>
    <body>
    <h1>Recent Analyses</h1>
    <ul id="analysisList">
        <% data.forEach(function(analysis, index) { %>
            <li id="item<%= index%>">
                <strong>ID:</strong> <%= analysis.id %><br>
                <strong>Title: </strong> <%= analysis.title%><br>
                <strong>Image: </strong> <img src="<%= analysis.imageUrl%>" alt="analysis image"><br>
                <strong>Content: </strong> <%= analysis.content%><br>
                <strong>MP3 URL:</strong> <%= analysis.mp3%><audio src="<%= analysis.mp3%>" id="audio<%= index%>"></audio><br>
                <strong>Created At:</strong> <%= analysis.createdAt.toISOString() %><br>
            </li>
        <% }) %>
    </ul>
    <button id="playButton">Play</button>
    <button id="pauseButton">Pause</button>
    <script>
        const listItems = document.querySelectorAll('li');
        let currentAudioIndex = 0;
        let currentAudio = document.getElementById(`audio${currentAudioIndex}`);
        currentAudio.hasStarted = false;

        document.getElementById('playButton').addEventListener('click', function() {
            if (currentAudio.hasStarted && currentAudio.paused) {
                currentAudio.play();
            } else {
                playAudio(currentAudioIndex);
            }
        });

        document.getElementById('pauseButton').addEventListener('click', function() {
            pauseAudio();
        })

        function playAudio(index) {
            console.log("playAudio()");
            stopAllAudios();
            console.log("idx: ", index);
            listItems.forEach(item => item.style.display = 'none');
            listItems[index].style.display = 'block';

            currentAudio = document.getElementById(`audio${index}`);
            currentAudio.play();
            currentAudio.hasStarted = true;
            currentAudio.onended = function() {
                currentAudioIndex++;
                if (currentAudioIndex < listItems.length) {
                    playAudio(currentAudioIndex);
                }
            }
        }

        function pauseAudio() {
            if (currentAudio) {
                currentAudio.pause();
            }
        }

        function stopAllAudios() {
            let audios = document.querySelectorAll('audio');
            audios.forEach(audio => {
                audio.pause();
                audio.currentTime = 0;
                audio.hasStarted = false;
            })
        }

    </script>
    </body>
</html>
